html{
  box-sizing: border-box;
}

/* .container.admin {

 padding: 0
} */

.file-form {
  display:flex;
  flex-direction:column;
}

.btn-admin{
  margin-top: 25px;
}


input{
  width: 20rem;
  padding: 0.7rem;
}
