<div class="container admin">


  <div class="row">

      <div class="col-sm-7">
          <form (ngSubmit)="onAddTeam(f)" #f ="ngForm">
              <h4>Welcome Admin</h4><label>Name</label>
              <input class="form-control"
              type="text"
              [(ngModel)]="member.name"
              name="name"
              required
              />
              <!-- <div class="file-form">
                <label>Image</label>
                <input type="file"
                id="image"
                ngModel
                name="image"
                />
              </div> -->
              <button class="btn btn-secondary btn-admin" type="submit" [disabled]="!f.valid">Add</button>
              <button class="btn btn-danger btn-admin ml-1" type="button" (click)="onDelete()">Delete</button>
          </form>
      </div>

      <div class="mt-5">
          <input
          type="text"
          placeholder="Search Name"
          [(ngModel)]="searchTerm">

          </div>


      <div class="row">




          <div class="col-xs-5 mt-4 card" *ngFor="let item of members | filter: searchTerm">
              <ul class="list-group card-body">
                <!-- array goes in btw the li  -->
                 <li class="list-group-item ">{{item.id + '. ' + item.name}}<span class="xBtn"><Button class="btn-btn-danger"
                    (click)="onDelete(item)">X</Button></span></li>

              </ul>


            </div>

      </div>


  </div>


</div>


